@model UserProfileModel
@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2 class="text-center ">Account Management</h2>

    <div class="row">
        <div class="col-8 col-sm-6">
            <div class="card border-bottom">
                <div class="card-header  text-center ">Profile</div>
                <div class="card-body">
                    <form class="was-validated form-horizontal" action="/Home/ProfileRoute" method="POST">

                        @*//common attributes*@
                        <label for="email">Email:&nbsp;&nbsp;</label>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="email" class="form-control" id="email" type="email" value="@Model.email" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Mandatory field.</div>
                        </div>
                        @*//common attributes*@
                        <label for="firstname">FirstName:&nbsp;&nbsp;</label>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="firstname" class="form-control" id="firstname" type="text" value="@Model.firstName" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Mandatory field.</div>
                        </div>
                        @*//common attributes*@
                        <label for="lastname">LastName:&nbsp;&nbsp;</label>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="lastname" class="form-control" id="lastname" type="text" value="@Model.lastName" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Mandatory field.</div>
                        </div>

                        @if (Model.auth_idp == "00o31h3h8X1Rmi47z1d6")
                        {
                            @*//consumer attributes*@
                            <label for="region">Region</label>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="text" class="form-control" id="region" name="region" value="@Model.region">
                                <div class="valid-feedback">Valid.</div>
                                @*<div class="invalid-feedback">Mandatory field.</div>*@
                            </div>


                        }

                        <input name="nconsent" id="nconsent" class="form-control" type="hidden" value="">
                        <input id="oktaId" name="oktaId" class="form-control" type="hidden" value="@Model.oktaId">

                        @if (Model.auth_idp == "00o31h3h8X1Rmi47z1d6")
                        {

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Update Profile</button>
                            </div>
                        }


                    </form>
                </div>
            </div>
        </div>

        @if (Model.auth_idp != "00o31h3h8X1Rmi47z1d6")
        {

            <div class="col-md-6">
                <div class="card border-bottom">
                    <div class="card-header  text-center ">Professional Info</div>
                    <div class="card-body">
                        <form class="was-validated form-horizontal">
                            @*//provider attributes*@
                            <label for="licenseState">State Physician Licensed:</label>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="text" class="form-control" id="licenseState" name="licenseState" value="@Model.licenseState" disabled>
                            </div>

                            <label for="physicianId">Physician ID:</label>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="text" class="form-control" id="physicianId" name="physicianId" value="@Model.physicianId" disabled>
                            </div>

                            <label for="practiceName">Name of your Practice:</label>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="text" class="form-control" id="practiceName" name="practiceName" value="@Model.practiceName" disabled>
                            </div>


                        </form>
                    </div>
                </div>
            </div>

        }



        <div class="col-4 col-sm-6">
            <div class="card border-bottom">
                <div class="card-header  text-center ">Preferences</div>
                <div class="card-body">
                    <form class="was-validated form-horizontal" action="/Home/PrefenceRoute" method="POST">


                        <div class="row">
                            <div class="col">
                                <h6>It's OK to send me occasional offers?</h6>
                            </div>
                            <div class="col">
                                @if (Model.Promotions)
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Promotions" id="Promotions1" value=false>
                                        <label class="form-check-label" for="Promotions1">
                                            No
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Promotions" id="Promotions2" value=true checked>
                                        <label class="form-check-label" for="Promotions2">
                                            Yes
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Promotions" id="Promotions1" value=false checked>
                                        <label class="form-check-label" for="Promotions1">
                                            No
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Promotions" id="Promotions2" value=true>
                                        <label class="form-check-label" for="Promotions2">
                                            Yes
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <h6>Please let me know when you have new products that might be of interest to me?</h6>
                            </div>
                            <div class="col">
                                @if (Model.ProductUpdates)
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ProductUpdates" id="ProductUpdates1" value=false>
                                        <label class="form-check-label" for="ProductUpdates1">
                                            No
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ProductUpdates" id="ProductUpdates2" value=true checked>
                                        <label class="form-check-label" for="ProductUpdates2">
                                            Yes
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ProductUpdates" id="ProductUpdates1" value=false checked>
                                        <label class="form-check-label" for="ProductUpdates1">
                                            No
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ProductUpdates" id="ProductUpdates2" value=true>
                                        <label class="form-check-label" for="ProductUpdates2">
                                            Yes
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <h6>I'd like to be notified about opportunities to improve wellness?</h6>
                            </div>
                            <div class="col">
                                @if (Model.Webinars)
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Webinars" id="Webinars1" value=false>
                                        <label class="form-check-label" for="Webinars1">
                                            No
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Webinars" id="Webinars2" value=true checked>
                                        <label class="form-check-label" for="Webinars2">
                                            Yes
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Webinars" id="Webinars1" value=false checked>
                                        <label class="form-check-label" for="Webinars1">
                                            No
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Webinars" id="Webinars2" value=true>
                                        <label class="form-check-label" for="Webinars2">
                                            Yes
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>


                        <input id="oktaId" name="oktaId" class="form-control" type="hidden" value="@Model.oktaId">

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Update Prefences</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>




    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card border-bottom">
                <div class="card-header  text-center ">Privacy Consent</div>
                <div class="card-body">
                    <h6>
                        I hereby consent and acknowledge my agreement to the terms set forth in the PRIVACY and CONSENT INFORMATION FORM. I understand that this consent shall remain in force
                        from this time forward unless rejected.
                    </h6>
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#consentModal">View PRIVACY and CONSENT INFORMATION FORM</button>

                    <fieldset class="border">
                        <label for="consent">Previous Privacy Consent:</label>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-check"></i> </span>
                            </div>
                            <input name="consent" id="consent" class="form-control" type="text" value="@Model.consent" disabled>&nbsp;&nbsp;
                        </div>


                        <label for="last_verification_date">Last Verification Date:</label>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-check"></i> </span>
                            </div>
                            <input name="last_verification_date" id="last_verification_date" class="form-control" type="text" value="@Model.last_verification_date" disabled>&nbsp;&nbsp;
                        </div>
                    </fieldset>

                    <form action="~/Home/ConsentRoute" method="post" id="myConsent" class="v-form" autocomplete="off" style="border:none;">
                        <div class="form-group">
                            <input type="radio" id="accept" name="getConsent" value="Accept" />
                            <label for="accept">Accept</label>
                            <input type="radio" id="reject" name="getConsent" value="Reject" />
                            <label for="reject">Reject</label>
                            <input type="radio" id="cancel" name="getConsent" value="Cancel" />
                            <label for="cancel">Cancel</label>
                        </div>
                        <button type="submit" id="pref-button" class="btn btn-primary btn-block">Submit Consent</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card border-bottom">
                <div class="card-header  text-center ">OIDC Consent</div>
                <div class="card-body">

                    @if (Model.listScopedConsent.Count > 0)
                    {

                    <form action="~/Home/OidcConsentRoute" method="post" id="myOidcConsent" class="v-form" autocomplete="off" style="border:none;">

                        @foreach (var scope in Model.listScopedConsent)
                        {
                        <fieldset class="border">
                            <legend>Scope Name: @scope.scopeTitle</legend>
                            <input id="scopeId" name="scopeId" class="form-control" type="hidden" value="@scope.scopeId">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sensitiveData" id="sensitiveData1" value=false>
                                <label class="form-check-label" for="sensitiveData1">
                                    Leave Consent
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sensitiveData" id="sensitiveData2" value=true checked>
                                <label class="form-check-label" for="sensitiveData2">
                                    Remove Consent
                                </label>
                            </div>
                        </fieldset>
                        }

                        <input id="oktaId" name="oktaId" class="form-control" type="hidden" value="@Model.oktaId">

                        <button type="submit" id="pref-button" class="btn btn-primary btn-block">Update OIDC Consent</button>
                    </form>

                    }
                    else
                    {
                        <div>
                            <p>You have not Allowed any OIDC Consents at this time</p>
                        </div>

                    }


                </div>
            </div>
        </div>
    </div>
</div>

<!-- Consent Modal -->
<div class="modal fade" id="consentModal" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">PRIVACY and CONSENT INFORMATION FORM</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="mfamodalbody">
                <p>The Local laws in many states and countries provide safeguards to protect your privacy. Implementation of Privacy requirements officially began on April 14, 2014. Many of the policies have been our practice for years. This form is a “friendly” version. A more complete text is posted in the office. What this is all about: Specifically, there are rules and restrictions on who may see or be notified of your Protected Personal Information (PPI). These restrictions do not include the normal interchange of information necessary to provide you with office services. We balance these needs with our goal of providing you with quality professional service and care. Additional information is available from the U.S. Department of Health and Human Services. www.hhs.gov We have adopted the following policies:</p>
                <p>1. Patient information will be kept confidential except as is necessary to provide services or to ensure that all administrative matters related to your care are handled appropriately. This specifically includes the sharing of information with other healthcare providers, laboratories, health insurance payers as is necessary and appropriate for your care. Patient files may be stored in open file racks and will not contain any coding which identifies a patient’s condition or information which is not already a matter of public record. The normal course of providing care means that such records may be left, at least temporarily, in administrative areas such as the front office, examination room, etc. Those records will not be available to persons other than office staff . You agree to the normal procedures utilized within the office for the handling of reports, personal records, PPI and other documents or information.</p>
                <p>2. It is the policy of this office to remind patients of their appointments. We may do this by telephone, e-mail, U.S mail, or by any means convenient for the practice and/or as requested by you. We may send you other communications informing you of changes to office policy and new technology that you might find valuable or informative.</p>
                <p>3. The company utilizes a number of vendors in the conduct of business. These vendors may have access to PPI but must agree to abide by the confidentiality rules.</p>
                <p>4. You understand and agree to inspections of the office and review of documents which may include PPI by government agencies in normal performance of their duties.</p>
                <p>5. You agree to bring any concerns or complaints regarding privacy to the attention of the office manger.</p>
                <p>6. Your confidential information will not be used for the purposes of marketing or advertising of products, goods or services.</p>
                <p>7. We agree to provide patients with access to their records in accordance with state and federal laws.</p>
                <p>8. We may change, add, delete or modify any of these provisions to better serve the needs of the both the practice and the patient.</p>
                <p>9. You have the right to request restrictions in the use of your protected health information and to request change in certain policies used within the office concerning your PPI. However, we are not obligated to alter internal policies to conform to your request.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



















