
@model UserProfileModel
@{
    ViewData["Title"] = "ManageDependants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="text-center ">Manage Dependants</h2>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card border-bottom">
                <div class="card-header  text-center ">My Custodians</div>
                <div class="card-body">

                    @foreach (var person in Model.listCustodians)
                    {

                    <h6>@person.email</h6>

                    }

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card border-bottom">
                <div class="card-header  text-center ">My Dependants</div>
                <div class="card-body">


                    @foreach (var person in Model.listDependants)
                    {
                        <form action="/Home/ViewDependantRoute" method="post" id="viewDependant" class="form-horizontal">
                            <div class="form-group row">

                                <input type="hidden" class="form-control" id="dependantEmail" name="dependantEmail" value="@person.email">
                                <input type="hidden" class="form-control" id="dependantOktaId" name="dependantOktaId" value="@person.oktaId">
                                <label for="myB" class="col-sm-auto col-form-label">@person.email</label>
                                <div class="col-sm-10">
                                    <button id="myB" type="submit" class="btn btn-primary">View Dependant User Details</button>
                                </div>
                            </div>
                        </form>
                        <form action="/Home/RemoveDependantRoute" method="post" id="removeDependant" class="form-horizontal">
                            <div class="form-group row">

                                <input type="hidden" class="form-control" id="dependantEmail" name="dependantEmail" value="@person.email">
                                <input type="hidden" class="form-control" id="dependantOktaId" name="dependantOktaId" value="@person.oktaId">
                                <div class="col-sm-10">
                                    <button id="myB" type="submit" class="btn btn-primary">Remove Dependant</button>
                                </div>
                            </div>
                        </form>
                    }

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card border-bottom">
                <div class="card-header  text-center ">Add Dependant</div>
                <div class="card-body">
                    <form action="/Home/AddDependantRoute" method="post" id="addDependant" class="form-horizontal">

                        <div class="form-group row">
                            <label for="searchCriteria" class="col-sm-2 col-form-label">Search Criteria</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="searchCriteria" name="searchCriteria" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button id="myB" type="submit" class="btn btn-primary">Add New Dependant</button>
                                @*<p>Input can be FirstName, LastName (if it is unambigious) or Email address </p>*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
